<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/DescripcionProducto.css" />
  <link rel="stylesheet" href="/css/index.css">
  <title><%= productos.detail %></title>
  <%- include('../partials/head') %> 
</head>

<body>
  
  <header class="main-header"><%- include('../partials/header') %></header>
  <section>
    <div class="fondo">
      <div class="contenedor">
        <div class="ficha-producto">

            <div class="priceAndNameProductResponsive">
              <div>
              <span><%= productos.name %></span>
              </div>
            </div>

            <div class="img">
              <img src="/images/products/<%= productos.img %>">
            </div>


            <div class="buttonAdmin">
                <% if (locals.userLogged != undefined && locals.userLogged.id_rol == 1) {%>
                  <button class="editar" ><a href="/products/edit/<%= productos.id_product%>">Editar Producto</a></button>
                  <button class="editar"> <a href="/products/delete/<%= productos.id_product%>">Borrar Producto</a> </button>
                <%}%>
              </div>
          </div>

        <div class="content2">
          <div>
            <span class="nameProduct"><%= productos.name %></span>
            <% if( productos.discount > 0){%> 
            <div class="precio">
              <span class="precioTach">$<%= productos.price %></span>
            </div>
            <%let preciofinal = (productos.price - (productos.price * productos.discount / 100))%>
            <span class="preciofinal">$<%=  preciofinal.toFixed(2) %></span>
            <span class="discount"><%= productos.discount%>% OFF</span>
            <% }else{%>
              <div class="precio">
                <h2>$<%= productos.price.toFixed(2) %></h2>
              </div>
            <% } %>  
            
          </div>

          <% if (locals.userLogged == undefined) {%>
            <form action="/products/buy/<%= productos.id %>" method="POST">
              <input class="comprar" type="submit" name="<%=productos.id%>" value="COMPRAR AHORA">
              <input class="carrito" type="submit" name="<%=productos.id%>" value="AÑADIR AL CARRITO">
            </form>
            <%}%>

          <div class="caracteristicas">
            <div class="caracteristicaProd">
              <h3>CARACTERISTICAS DEL PRODUCTO</h3>
              <ul>
                <li><%=productos.color%></li>
                <li><%=productos.size%></li>
              </ul>
            </div>

            <div class="caracteristicaDetail">
              <h3>DESCRIPCION DEL PRODUCTO</h3>
            <span>
              <%= productos.detail %>
          </div>
            </span>
            <div class="buttonAdminResponsive">
              <% if (locals.userLogged != undefined && locals.userLogged.id_rol == 1) {%>
                <button class="editar" ><a href="/products/edit/<%= productos.id_product%>">Editar Producto</a></button>
                <button class="editar"> <a href="/products/delete/<%= productos.id_product%>">Borrar Producto</a> </button>
              <%}%>
            </div>
        </div>
          </div>
        </div>
      </div>
  
    </div>
</section>

<footer class="footer-home"><%- include('../partials/footer') %></footer>
</body>
</html>
