<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/login.css"/>
    <title>Ingresar / Registrarme</title>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header class="main-header"><%- include('../partials/header') %></header>

    <main class="main-login">
        <form class="form-box" action="/users/login" method="post">
          <span class="form-title"><a href="login">INGRESA</a> | <a href="register"> REGISTRARME</a></span>
          <div class="form-box-inside">
            <div class="text-form">
              <div><i>*</i><label for="email">Email</label></div>
              <input class="email"
                type="email"
                name="email"
                id="email"
                placeholder="Ingrese su email"
              />
              <% if (locals.errors && errors.email){%>
                  <span><%= errors.email.msg %></span>
              <%}%>
            </div>
            <div class="text-form">
              <div><i>*</i><label for="password">Contraseña</label></div>
              <input class="password"
                type="password"
                name="password"
                id="password"
                placeholder="Ingrese su password"
              />
              <% if (locals.errors && errors.password){%>
                <span><%= errors.password.msg %></span>
            <%}%>
            </div>
            <div class="remember">
              <label for="rememberMe">Recordarme</label>
              <input
                type="checkbox"
                name="loginRememberMe"
                id="rememberMe"
                value="true"
              />
            </div>
            <div class="rest-pass">
              <a href="">¿Olvidate tu contraseña?</a>
            </div>
            <div>
              <input
                type="submit"
                value="Iniciar Sesión"
                class="boton-iniciar"
              />
            </div>
          </div>
        </form>
    </main>
    
    <footer class="footer-home"><%- include('../partials/footer') %></footer>
  </body>
</html>
