<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/productos.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <title>Productos</title>
</head>
<body>
    <header class="main-header"><%- include('../partials/header') %></header>

    <%if (edit == true){ %>
      <main>
        <div class="contenedor">
          <h3><a href="/productos">AGREGAR PRODUCTOS</a> | <a href="/productos/edit">EDITAR PRODUCTO</a></h3>    
          <form class="formSearch" action="/productos/search" method="GET">
            <input class = "buscador" for="search" name="name" placeholder="Busca tu Producto">
            <input class = "buttonBuscador" type="submit" valvue="search" id="search">
          </form>
          <% if(resultado == true){ %>
            <div class="products">
              <% for(let i = 0; i < productos.length; i++){ %> 
                <a href=""><article>
                  <img src="/img/<%=productos[i].img%>" alt="">
                  <div class="div-article">
                    <p class="precios"><%=productos[i].precio%></p>
                    <p class="descuentos"><%=productos[i].descuento%></p>
                  </div>
                  <h1 class="descripcion"><%=productos[i].name%></h1>
                </article>
              <% } %>
            </div>
          <%}else{ %> 
            <p>No hay resultados</p>
          <% } %>  
        </div>
    </main>
    <% }else{ %>
    <main>
        <div class="contenedor">
          <h3><a href="/productos">AGREGAR PRODUCTOS</a> | <a href="/productos/edit">EDITAR PRODUCTO</a></h3>    
          <form action="/src/controllers/productosController.js" method="post" ><%- include('../partials/formProductos') %> </form>
          <button class="buttonSend" type="submit">Cargar</button>
        </div>
    </main>
    <% } %>

    <footer class="footer-home"><%- include('../partials/footer') %></footer>
</body>
</html>