<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head',{}) %>
    <link rel="stylesheet" href="/css/productEdit.css" />
    <script src="/js/editProduct.js"></script>
  </head>
  <body>
    <header class="main-header"><%- include('../partials/header') %></header>

    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">
            Estás editando: <%= productToEdit.name %>
          </h2>
        </div>
      </div>

      <div class="products-div">
        <form
          class="edit-form"
          action="/products/edit/<%= productToEdit.id_product %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="row product-detail">
            <div class="">
              <label for="name" class="form-label">Nombre del producto:</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Ej: Zapatillas Reebok"
                class="form-input"
                value="<%= productToEdit.name %>"
              />
            </div>
            <span class="errors-name"></span>
            <!-- validacion back -->
            <% if(locals.errors && errors.name){ %>
            <span class="error"><%= errors.name.msg %></span>
            <% } %>
            <div class="col-12">
              <label for="detail" class="form-label">Descripción:</label>
              <input
                name="detail"
                id="detail"
                class="form-input"
                value="<%= productToEdit.detail %>"
              />
            </div>
            <span class="errors-detail"></span>
            <!-- validacion back -->
            <% if(locals.errors && errors.detail){ %>
            <span class="error"><%= errors.detail.msg %></span>
            <% } %>
            <div>
              <i class="ast"></i><label for="categoria">Categoria</label>
              <select type="text" name="id_category" id="id_categoria">
                <% for(let i = 0 ; i < categoriaToEdit.length ; i++){ %>
                <option
                  value="<%= categoriaToEdit[i].dataValues.id_category %>"
                >
                  <%=categoriaToEdit[i].dataValues.name %>
                </option>
                <% } %>
              </select>
            </div>
            <div class="">
              <label for="size" class="form-label">Talle:</label>
              <input
                type="text"
                id="size"
                name="size"
                placeholder="Ej: S, M, L, XL"
                class="form-input"
                value="<%= productToEdit.size %>"
              />
            </div>
            <div class="">
              <label for="price" class="form-label">Precio del producto:</label>
              <input
                type="number"
                id="price"
                name="price"
                placeholder="Ej: 5678"
                class="form-input"
                value="<%= productToEdit.price %>"
              />
            </div>
            <span class="errors-price"></span>
            <!-- validacion back -->
            <% if(locals.errors && errors.price){ %>
            <span class="error"><%= errors.price.msg %></span>
            <% } %>
            <div class="">
              <label for="discount" class="form-label">Descuento:</label>
              <input
                type="number"
                id="discount"
                name="discount"
                placeholder="Ej: 15"
                class="form-input"
                value="<%= productToEdit.discount %>"
              />
            </div>
            <div class="">
              <label for="color" class="form-label">Color:</label>
              <input
                type="text"
                id="color"
                name="color"
                placeholder="Ej: Azul"
                class="form-input"
                value="<%= productToEdit.color %>"
              />
            </div>
            <span class="errors-color"></span>
            <!-- validacion back -->
            <% if(locals.errors && errors.color){ %>
            <span class="error"><%= errors.color.msg %></span>
            <% } %>
            <div>
              <i class="ast"></i><label for="img">imagen</label>
              <input type="file" name="img" id="img" />
            </div>
            <div class=".boton-iniciar">
              <button type="submit" class="buy-now-button">
                Guardar producto
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <footer class="footer-home"><%- include('../partials/footer') %></footer>
  </body>
</html>
