<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <title>Ingresar / Registrarme</title>
  </head>
  <body>
    <header class="main-header"><%- include('../partials/header') %></header>
    
    <main>
      <div class="contenedor">
        <form method="POST" action="/users/createUser" enctype="multipart/form-data">
          <h2 class="form-title"><a href="login">INGRESA</a> | <a href="register"> REGISTRARME</a></h2>
          <div class="content-form">
            <div class="datosPersonales">
              <h2>Datos personales</h2>
              <div class="elementos">
                <div>
                  <div class="dat-Title"><i>*</i><label for="name">Nombre</label></div>
                  <input class="input" type="text" name="name" />
                  <% if(locals.errors && errors.name){ %>
                    <span class="error"><%= errors.name.msg %></span>
                    <% } %> 
                </div>

                <div>
                  <div class="dat-Title"><i>*</i><label for="last_name">Apellido</label></div>
                  <input class="input" type="text" name="last_name" />
                  <% if(locals.errors && errors.last_name){ %>
                    <span class="error"><%= errors.last_name.msg %></span>
                    <% } %> 
                </div>
                <div>
                  <div class="dat-Title">
                    <i>*</i><label for="birth_date">Fecha de nacimento</label>
                  </div>
                  <div class="fechaNac">
                    <input
                      type="date"
                      class="fechaNacInput"
                      name="birth_date"
                      placeholder="Fecha nacimiento"
                    />
                    <% if(locals.errors && errors.birth_date){ %>
                      <span class="error"><%= errors.birth_date.msg %></span>
                      <% } %> 
                  </div>
                </div>
                <div class="documento">
                  <div class="tipo">
                    <div class="dat-Title"><i>*</i><label>Tipo</label></div>
                    <select class="input" name="tipo">
                      <option>DNI</option>
                      <option>PASAPORTE</option>
                    </select>
                  </div>
                  <div class="num">
                    <div class="dat-Title">
                      <i>*</i><label>Número de Documento</label>
                    </div>
                    <input class="nroDocumento" type="text" name="dni"  />
                    <% if(locals.errors && errors.doc){ %>
                      <span class="error"><%= errors.doc.msg %></span>
                      <% } %> 
                  </div>
                </div>
                <div>
                  <div class="dat-Title"><i>*</i><label>Género</label></div>
                  <select class="input" name="gender">
                    <option value="">Prefiero no decir</option>
                    <option value="H">Hombre</option>
                    <option value="M">Mujer</option>
                  </select>
                </div>
                <div>
                  <div class="dat-Title"><i>*</i><label for="tel">telefono</label></div>
                  <input class="input" type="tel" name="tel" id="tel"/>
                  <% if(locals.errors && errors.tel){ %>
                    <span class="error"><%= errors.tel.msg %></span>
                    <% } %> 
                </div>
              </div>
            </div>
            <div class="sobreTuCuenta">
              <h2>Sobre tu Cuenta</h2>
              <div class="elementos">
                <div>
                  <div class="dat-Title"><i>*</i><label>Email</label></div>
                  <input class="input" type="text" name="email" />
                  <% if(locals.errors && errors.email){ %>
                    <span class="error"><%= errors.email.msg %></span>
                    <% } %>  
                </div>
                <div>
                  <div class="dat-Title">
                    <i>*</i><label>Confirmar Email</label>
                  </div>
                  <input class="input" type="text" name="emailConfirm"/>
                  <% if(locals.errors && errors.emailConfirm){ %>
                    <span class="error"><%= errors.emailConfirm.msg %></span>
                    <% } %> 
                </div>
                <div>
                  <div class="dat-Title"><i>*</i><label>Contraseña</label></div>
                  <input class="input" type="password" name="password"/>
                  <% if(locals.errors && errors.password){ %>
                    <span class="error"><%= errors.password.msg %></span>
                  <% } %> 
                </div>
                <div>
                  <div class="dat-Title">
                    <i>*</i><label>Confirmar Contraseña</label>
                  </div>
                  <input class="input" type="password" name="passwordConfirm"/>
                  <% if(locals.errors && errors.passwordConfirm){ %>
                    <span class="error"><%= errors.passwordConfirm.msg %></span>
                  <% } %> 
                </div>
                <div>
                  <div class="dat-Title">
                    <label>foto de perfil</label>
                  </div> 
                  <input type="file" name="img">
                  <% if(locals.errors && errors.img){ %>
                    <span class="error"><%= errors.img.msg %></span>
                  <% } %> 
                </div>
                <div>
                  <div class="dat-Title">
                    <label>¿Cúales son de tu interes?</label>
                  </div>
                  <select class="input" name="interes">
                    <option>Futbol</option>
                    <option>Basquet</option>
                    <option>Natacion</option>
                  </select>
                </div>
                <div>
                  <div class="dat-Title">
                    <label>¿Cúal es tu equipo de futbol?</label>
                  </div>
                  <input class="input" type="text" name="club"/>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-form">
            <div class="cajaCheck">
              <input type="checkbox" name="Polices"/><label
                >Acepto las Políticas de Privacidad y Términos y
                Condiciones</label
              >
            </div>
            <div class="cajaCheck">
              <input type="checkbox" name="promotions"/><label
                >Quiero recibir emails de promociones y noticias</label
              >
            </div>
            <div class="buttonSend">
              <button type="submit" class="crearCuenta">Crear mi Cuenta</button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer class="footer-home"><%- include('../partials/footer') %></footer>

  </body>
</html>
